*{
    padding: 0;
    margin: 0;
}

.bg-tebi {
    background: url(multimedia/fondo\ 1.webp) no-repeat center center fixed;
    background-size: cover;
}

body {
    background: url(multimedia/cielo\ y\ mar.jpg) no-repeat center center fixed;
    background-size: cover;

}

.nav {
    background: url(multimedia/fondo\ 1.webp) no-repeat center center fixed;
    background-size: cover;
}

.nav a{
    color: black;
    text-align: center;
    font-size: large;
}

.video-tebi {
    width: 100%;
}

.carousel-tebi {
    width: 50%;
}

