  .video-tebi {
    width: 100%;
  }
  
  .div-two {
    width: 30%;
    height: 90%;

    & img {
      width: 50%;
    }
  }

  @media only screen and (max-width: 767px) {
    video {
      margin-top: 1rem;
    }
    .p-tebi {
      font-size: small;
    }
    .section-two {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .div-two {
      width: 100%;
      font-size: x-small;
      margin-bottom: 1rem;
    }
  }